@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-light-primary: #fde047;
  --color-dark-primary: #28292b;
  --color-dark-secondary: #1e1e1e;
  --color-button-hov: #131313;
  --color-nav: #0c0c0c;
  --default-transition-duration: 0.3s;
  --default-transition-timing-function: ease-in-out;
  --default-transition-delay: 0s;
  --default-transition-property: all;
}
