---
import SectionContainer from "@/components/sectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import ArrowBottom from "@/components/icons/arrowBottom.astro";
import frenquently_questions from "@/db/freq_questions";
import ToSectionArrow from "@/components/toSectionArrow.astro";
import MyArticle from "@/components/myArticle.astro";
import YourComments from "@/components/yourComments.astro";
import UnderlineLink from "@/components/underlineLink.astro";
---

<Layout title="Help - Code Project" description="Help page for Code Project">
    <MyArticle>
        <SectionContainer
            class="flex flex-col items-center justify-center h-[80svh] text-main"
        >
            <h1
                class="flex flex-col text-center text-[3rem] leading-tight font-bold"
            >
                <span class="text-xl font-semibold opacity-65">
                    Bienvenido!
                </span>
                En que te podemos ayudar?
            </h1>
            <div class="py-2">
                <YourComments />
            </div>
            <UnderlineLink
                className="text-xl text-center !text-purple-200 hover:!text-purple-300"
                href="https://github.com/diegodev18/code-project-docs"
                target="_blank"
            >
                Apoya a la documentacion de CodeProject en Github
            </UnderlineLink>
            <ToSectionArrow href="#faq" />
        </SectionContainer>
    </MyArticle>
    <MyArticle>
        <SectionContainer class="min-h-[35svh] md:min-h-[70svh] pb-20">
            <h2 class="text-3xl font-bold text-main pb-3">
                Preguntas frecuentes
            </h2>
            <ul class="flex flex-col gap-y-2 md:gap-y-6" id="faq">
                {
                    frenquently_questions.map((question) => (
                        <li>
                            <details class="group" name="faq">
                                <summary class="flex items-center cursor-pointer list-none text-xl text-yellow-100 group-hover:text-yellow-200 font-medium transition duration-300">
                                    <span class="mr-1 -rotate-90 text-yellow-300 group-hover:text-yellow-400 group-open:rotate-0 transition duration-300">
                                        <ArrowBottom />
                                    </span>
                                    {question.title}
                                </summary>
                                <p class="mt-1 ml-[2.15rem] font-medium">
                                    {question.content}
                                </p>
                            </details>
                        </li>
                    ))
                }
            </ul>
        </SectionContainer>
    </MyArticle>
</Layout>
