---
import SectionContainer from "@/components/sectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import ArrowBottom from "@/components/icons/arrowBottom.astro";

const frenquently_questions = [
    {
        title: "Como puedo acceder a mi cuenta?",
        content: "Para acceder a tu cuenta, debes iniciar session con github, presionando el boton con el icono de la persona en la esquina superior derecha."
    },
    {
        title: "Como accedo a un proyecto?",
        content: "Para acceder a un proyecto, debes buscarlo en la barra de busqueda y presionar en su tarjeta."
    }
]
---

<Layout
title="Help - Code Project"
description="Help page for Code Project"
>
    <SectionContainer>
        <h1 class="flex flex-col justify-center text-center text-[3rem] leading-tight font-bold text-yellow-300 h-[calc(85vh-4rem)]">
            <span class="text-xl font-medium opacity-65">
                Bienvenido!
            </span>
            En que te podemos ayudar?
        </h1>
    </SectionContainer>
    <SectionContainer>
        <h2 class="text-3xl font-bold text-yellow-300 pb-3">
            Preguntas frecuentes
        </h2>
        <ul class="flex flex-col gap-y-4">
            {
                frenquently_questions.map((question, index) => (
                    <li class="flex flex-col gap-y-1 cursor-pointer group frenq-question">
                        <button class="flex items-center text-start text-yellow-300 text-xl gap-x-1 font-semibold">
                            <span class="-rotate-90 group-hover:rotate-0 transition-transform duration-300">
                                <ArrowBottom />
                            </span>
                            <h3 class="text-yellow-100">
                                {question.title}
                            </h3>
                        </button>
                        <p class="pl-8 frenq-answer overflow-hidden h-0 transition-all duration-300">
                            {question.content}
                        </p>
                    </li>
                ))
            }
        </ul>
    </SectionContainer>
</Layout>

<style>
    .frenq-answer {
        interpolate-size: allow-keywords;
    }

    /* Cuando la clase está activa, el párrafo crece */
    .open p {
        height: auto; /* O el valor de altura que necesites */
        opacity: 1;
    }

    .open span {
        transform: rotate(180deg);
    }
</style>

<script>
    const question = document.querySelectorAll('.frenq-question');

    question.forEach((item) => {
        item.addEventListener('click', () => {
            item.classList.toggle('open');
        });
    });
</script>