---
import MarkText from "@/components/markText.astro";
import MyArticle from "@/components/myArticle.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import ToSectionArrow from "@/components/toSectionArrow.astro";
import Layout from "@/layouts/Layout.astro";
import UsedResourcesGallery from "@/components/usedResourcesGallery.astro";
import YourComments from "@/components/yourComments.astro";

const buttons_me = [
    {
        text: "Portfolio",
        link: "https://www.diego18.pro/",
    },
    {
        text: "Github",
        link: "https://github.com/diego-dev018",
    },
];
---
<aside id="about-top" />
<Layout
title="Sobre nostros - CodeProject"
description="Conoce más sobre CodeProject, la comunidad de programadores más grande de habla hispana."
>
    <MyArticle>
        <SectionContainer class="flex flex-col justify-center gap-y-2 h-[80svh] pb-5" id="about-project">
            <h2 class="text-5xl md:text-6xl leading-tight font-bold text-main">
                Sobre CodeProject
            </h2>
            <p class="text-lg sm:text-xl xl:text-2xl font-medium text-pretty">
                <MarkText>CodeProject es un proyecto personal mio</MarkText> que nace de la idea de crear mas recursos practicos para mejorar en programacion. Aqui podras encontrar proyectos, con documentacion y ejemplos practicos para mejorar tus habilidades en programacion.
            </p>
            <ToSectionArrow href="#about-others" />
        </SectionContainer>
    </MyArticle>
    <MyArticle>
        <SectionContainer class="flex flex-col gap-y-2 py-5 justify-center h-[90svh]" id="about-others">
            <h2 class="text-4xl md:text-5xl leading-tight font-bold text-main">
                Otros recursos usados...
            </h2>
            <UsedResourcesGallery />
            <ToSectionArrow href="#about-me" />
        </SectionContainer>
    </MyArticle>
    <MyArticle>
        <SectionContainer class="flex flex-col gap-y-2 py-5 justify-center h-[90svh]" id="about-me">
            <h2 class="text-5xl md:text-6xl leading-tight font-bold text-main">
                Sobre Mi
            </h2>
            <p class="text-lg sm:text-xl xl:text-2xl font-medium text-pretty">
                Hola, <MarkText>mi nombre es Diego Sanchez,</MarkText> soy un <MarkText>estudiante de Ingenieria en Desarrollo de Software.</MarkText> Gracias por visitar este proyecto, espero te ayude a mejorar tus habilidades. Puedes visitar mi github y seguirme si gustas :).
            </p>
            <div class={`grid grid-cols-2 gap-2`}>
                {
                    buttons_me.map(({text, link}) => (
                        <a class="bg-secondary text-lg md:text-xl font-semibold px-4 py-[6px] text-center rounded-full hover:bg-buttonHov transition duration-300 ease-in-out" target="_blank" href={link}>
                            {text}
                        </a>
                    ))
                }
            </div>
            <ToSectionArrow href="#about-top" divClass="rotate-180" />
        </SectionContainer>
    </MyArticle>
    <SectionContainer class="pb-10">
        <YourComments />
    </SectionContainer>
</Layout>