---
import MarkText from "@/components/markText.astro";
import MyArticle from "@/components/myArticle.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import links from "@/db/links";
import Layout from "@/layouts/Layout.astro";
import UsedResourcesGallery from "@/components/usedResourcesGallery.astro";
import UnderlineLink from "@/components/underlineLink.astro";
import SubtitleAbout from "@/components/subtitleAbout.astro";
import TextAbout from "@/components/textAbout.astro";

const buttons_me = [
    {
        title: "Portfolio",
        href: links.founder.href,
    },
    {
        title: "Github",
        href: "https://github.com/diego-dev018",
    },
    {
        title: "LinkedIn",
        href: "https://www.linkedin.com/in/diegodev18/",
    },
    {
        title: "Github Sponsors",
        href: links.sponsor.href
    },
];
---
<aside id="about-top" />
<Layout
title="Sobre nostros - CodeProject"
description="Conoce m치s sobre CodeProject, la comunidad de programadores m치s grande de habla hispana."
>
    <div class="flex flex-col gap-y-[22vh] pb-[10vh] sm:py-[15vh] lg:py-[18vh]">
        <MyArticle>
            <SectionContainer id="about-project">
                <SubtitleAbout>
                    Sobre Code Project
                </SubtitleAbout>
                <TextAbout class="pb-2">
                    <span>
                        <MarkText>CodeProject es un proyecto personal</MarkText> creado con la misi칩n de brindar recursos pr치cticos y accesibles para quienes desean mejorar sus habilidades en programaci칩n.
                    </span>
                    <span>
                        Aqu칤 encontrar치s una colecci칩n de proyectos dise침ados para el aprendizaje, con documentaci칩n detallada, ejemplos aplicados y retos que te ayudar치n a desarrollar un pensamiento l칩gico y una comprensi칩n m치s profunda de la programaci칩n.
                    </span>
                    <span>
                        Ya seas principiante en busca de una base s칩lida o un desarrollador con experiencia que quiere perfeccionar sus habilidades, CodeProject te ofrece herramientas, desaf칤os y gu칤as para llevar tu conocimiento al siguiente nivel. 游
                    </span>
                </TextAbout>
                <div class="flex justify-center">
                    <UnderlineLink
                    className="text-xl text-center !text-purple-200 hover:!text-purple-300"
                    href="https://github.com/diegodev18/code-project-docs"
                    target="_blank"
                    >
                        Apoya a la documentacion de CodeProject en Github
                    </UnderlineLink>
                </div>
            </SectionContainer>
        </MyArticle>
        <MyArticle>
            <SectionContainer id="about-me">
                <SubtitleAbout>
                    Sobre mi
                </SubtitleAbout>
                <TextAbout class="pb-3">
                    <span>
                        Mi nombre es <MarkText>Diego S치nchez</MarkText> y soy estudiante de Ingenier칤a en Desarrollo de Software.
                    </span>
                    <span>
                        A los 14, gracias a mi gusto por los videojuegos, me adentre en el mundo de la computaci칩n, desde sus componentes, como se arman, su mantenimiento, entre otros aspectos relacionados.
                    </span>
                    <span>
                        Despu칠s, a los 16 empec칠 a estudiar programaci칩n de manera autodidacta, pasando por diferentes cursos en academias online como Mastermind.ac y Udemy.
                    </span>
                    <span>
                        Actualmente, a los 18 a침os, dedico mi tiempo libre para mejorar mis habilidades, desarrollar proyectos pr치cticos y avanzar en mi curso por la carrera de Ingenier칤a en Desarrollo de Software.
                    </span>
                </TextAbout>
                <div class={`grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2`}>
                    {
                        buttons_me.map(({title, href}) => (
                            <a
                            class="bg-dark-secondary text-lg md:text-xl font-semibold px-4 py-[6px] text-center rounded-full hover:bg-button-hov transition duration-300 ease-in-out" target="_blank"
                            href={href}
                            >
                                {title}
                            </a>
                        ))
                    }
                </div>
            </SectionContainer>
        </MyArticle>
        <MyArticle>
            <SectionContainer id="about-others">
                <SubtitleAbout class="pb-4">
                    Recursos externos usados en el proyecto
                </SubtitleAbout>
                <UsedResourcesGallery />
            </SectionContainer>
        </MyArticle>
    </div>
</Layout>