---
import Catalog from '@/components/catalog.astro';
import Landing from '@/components/landing.astro';
import Layout from '@/layouts/Layout.astro';
import getSession from '@/utils/getSession';

const session = await getSession(Astro);
---

<Layout
title={`${session ? "Inicio" : "Landing Page"} - CodeProject`}
description={session ? "Explora los proyectos de CodeProject" : "Inicia ahora a aprender a programar y mejorar en tu campo con CodeProject"}
>
    <div class="min-h-[82vh] md:min-h-[88vh]">
        { session ? <Catalog /> : <Landing /> }
    </div>
</Layout>
