---
import GitIcon from '@/components/icons/brands/gitIcon.astro';
import SearchCard from '@/components/searchCard.astro';
import SearchVar from '@/components/searchVar.astro'
import SectionContainer from '@/components/sectionContainer.astro';
import Layout from '@/layouts/Layout.astro'

let searched = Astro.url.searchParams.get('search');

if (!searched) {
    searched = "Todos";
}
---

<Layout
title='Search'
description='Search for products'
>
    <SearchVar />
    <SectionContainer>
        <p class="pt-2 pb-4 font-medium">
            <span class="opacity-70 italic text-sm">
                Resultados para:
            </span>
            <span class="font-bold text-purple-300">
                {searched}
            </span>
        </p>
    </SectionContainer>
    <SectionContainer class="grid grid-cols-1 gap-y-8 md:grid-cols-2 lg:grid-cols-3">
        <SearchCard title="Hola" description="Salud" icon={{ width:"180", height: "180", component: GitIcon }} />
    </SectionContainer>
</Layout>