---
interface Props {
  slug: string;
  tags: string[];
}
const { slug, tags } = Astro.props;
---

<p class="flex gap-x-2 text-sm opacity-50 pb-1">
  Tags de '{slug}':{" "}
  <span class="flex items-end gap-x-2 overflow-x-scroll" id="tags-gallery">
    {
      tags.map((tag) => (
        <a
          class="text-nowrap h-fit font-medium underline bg-nav hover:bg-black transition px-1 rounded-md"
          href={`/blog?tag=${tag}`}
        >
          {tag}
        </a>
      ))
    }
  </span>
</p>

<style>
  #tags-gallery {
    scrollbar-width: none;
  }
</style>
