---
import SendFly from "@/components/icons/sendFly.astro";
import getStatusObj from "@/utils/getStatusObj";
interface Props {
  params: {
    name: string;
    language: string;
    title: string;
  };
  uuid: string;
  info: {
    num: number;
  };
  nextTask: string;
}
const {
  params: { name, language, title },
  uuid,
  info: { num },
  nextTask,
} = Astro.props;
const statusObj = getStatusObj(name, num + 1, nextTask, language, uuid);
---

<form class="group" action="/api/db/progress" method="POST">
  <button
    class="flex justify-center w-full py-2 mt-5 bg-dark-secondary font-semibold hover:bg-button-hov rounded-md transition cursor-pointer"
    name="progressItem"
    value={statusObj}
    type="submit"
  >
    <p
      class="flex gap-x-2 group-hover:scale-110 group-hover:text-light-primary transition duration-150"
    >
      Terminar tarea <SendFly width="20" />
    </p>
  </button>
</form>
