---
import SendFly from "@/components/icons/sendFly.astro";
import getStatusObj from "@/utils/getStatusObj";
interface Props {
  params: {
    name: string;
    language: string;
    title: string;
  };
  uuid: string;
  info: {
    num: number;
  };
  nextTask: string;
}
const {
  params: { name, language, title },
  uuid,
  info: { num },
  nextTask,
} = Astro.props;
const statusObj = getStatusObj(name, num + 1, nextTask, language, uuid);
---

<form action="/api/db/progress" method="POST">
  <button
    class="flex justify-center gap-x-2 w-full py-2 mt-5 bg-main font-semibold hover:bg-buttonHov rounded-md transition duration-300 ease-in-out"
    name="progressItem"
    value={statusObj}
    type="submit"
  >
    Terminar tarea <SendFly width="20" />
  </button>
</form>
