---
import MarkText from "@/components/markText.astro";
import UnderlineLink from "@/components/underlineLink.astro";
---

<footer class="text-center pt-5 pb-3 px-5">
    <p class="font-medium">
        <MarkText>CodeProject:</MarkText> Aprende programacion con proyectos reales! Por <UnderlineLink href="/about#about-me">Diego Sanchez</UnderlineLink>.
    </p>
    <p>
        <MarkText>Puedes apoyar al proyecto aqui</MarkText> {'->'}
        <UnderlineLink href="https://www.paypal.com/paypalme/DiegoDev018" target="_blank">
            Paypal
        </UnderlineLink>
    </p>
    <p>
        Si te gusto el proyecto, <MarkText>puedes seguirme en </MarkText>{'->'}
        <UnderlineLink href="https://github.com/diego-dev018" target="_blank">
            GitHub
        </UnderlineLink>
    </p>
</footer>