---
import MarkText from "@/components/markText.astro";
import UnderlineLink from "@/components/underlineLink.astro";
import links from "@/db/links";
---

<footer class="text-center pt-5 pb-3 md:pb-7 px-5">
  <p class="font-medium">
    <MarkText>CodeProject:</MarkText> Aprende programacion con proyectos reales!
    Por <UnderlineLink href={links.founder.href} target="_blank"
      >Diego Sanchez</UnderlineLink
    >.
  </p>
  <p>
    <MarkText>Puedes apoyar al proyecto aqui</MarkText>
    {"->"}
    <UnderlineLink href={links.sponsor.href} target="_blank">
      GitHub Sponsors
    </UnderlineLink>
  </p>
  <p>
    <MarkText>Apoya a la documentacion de CodeProject, aqui </MarkText>{"->"}
    <UnderlineLink href={links.docs.href} target="_blank">
      Repositorio de GitHub
    </UnderlineLink>
  </p>
  <!--     <p>
        Si te gusto el proyecto, <MarkText>puedes seguirme en </MarkText>{'->'}
        <UnderlineLink href="https://github.com/diegodev18" target="_blank">
            Mi perfil de GitHub
        </UnderlineLink>
    </p> -->
</footer>
