---
import MenuIcon from "@/components/icons/menuIcon.astro";
import ProfileIcon from "@/components/icons/profileIcon.astro";
import ProgrammingIcon from "@/components/icons/programmingIcon.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import DesktopNav from "@/components/desktopNav.astro";
---

<SectionContainer class="fixed top-0 left-0 right-0 z-50 transition-colors backdrop-blur-sm rounded-b-md duration-500" id="header-nav">
    <header class="py-4">
        <ul class="flex lg:grid lg:grid-cols-[1fr_350px_1fr] justify-between items-center text-main" id="header-nav">
            <li class="lg:hidden">
                <button
                onclick="document.querySelector('#mobile-menu').setAttribute('open', '')"
                >
                    <MenuIcon />
                </button>
            </li>
            <li class="flex gap-x-[5px] items-center cursor-default">
                <ProgrammingIcon />
                <h3 class="text-xl text-white font-bold">
                    Code Project
                </h3>
            </li>
            <DesktopNav />
            <li class="lg:flex lg:justify-end">
                <a href="/profile" class:list={[
                    "md:opacity-75 md:hover:opacity-100 transition duration-300"
                ]}>
                    <ProfileIcon />
                </a>
            </li>
        </ul>
    </header>
</SectionContainer>
<div class="pb-20" />

<script>
    document.addEventListener('astro:page-load', () => {
        document.addEventListener('scroll', () => {
            const header = document.querySelector('#header-nav');
            if (window.scrollY > 10) {
                header?.classList.add('bg-black/50');
            } else {
                header?.classList.remove('bg-black/50');
            }
        })
    })
</script>
