---
import MenuIcon from "@/components/icons/menuIcon.astro";
import ProfileIcon from "@/components/icons/profileIcon.astro";
import ProgrammingIcon from "@/components/icons/programmingIcon.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import DesktopNav from "./desktopNav.astro";
---

<SectionContainer class="fixed top-0 left-0 right-0 z-50 transition-colors backdrop-blur-sm rounded-b-md duration-500" id="header-nav">
    <header class="py-4">
        <ul class="flex justify-between items-center text-yellow-300">
            <li class="lg:hidden">
                <button
                onclick="document.querySelector('#mobile-menu').setAttribute('open', '')"
                >
                    <MenuIcon />
                </button>
            </li>
            <li class="flex gap-x-[5px] items-center cursor-default">
                <ProgrammingIcon />
                <h3 class="text-xl text-white font-bold">
                    Code Project
                </h3>
            </li>
            <DesktopNav />
            <li>
                <a href="/profile">
                    <ProfileIcon />
                </a>
            </li>
        </ul>
    </header>
</SectionContainer>
<div class="pb-20" />

<script>
    const header = document.getElementById('header-nav')
    
    const toggleHeaderBackground = () => {
        header?.classList.toggle('bg-black/50', window.scrollY > 0)
        header?.classList.toggle('!backdrop-blur-md', window.scrollY > 0)
    }
    window.addEventListener('scroll', toggleHeaderBackground)
</script>
