---
import SectionContainer from "@/components/sectionContainer.astro";
import ProgrammingIcon2 from "@/components/icons/programmingIcon2.astro";
import Login from "@/components/login.astro";

---

<SectionContainer>
    <div class="flex items-center justify-center relative -z-50">
        <div class="scale-75 text-main opacity-30">
            <ProgrammingIcon2 />
        </div>
        <div class="text-center font-semibold z-20 absolute top-1/4">
            <h1 class="flex flex-col text-main text-[2.5rem] font-bold text-center">
                <span class="text-xl text-main/65">
                    Bienvenido
                </span>
                {'<CodeProject/>'}
            </h1>
            <p class="text-xl pt-2">
                La plataforma donde podras mejorar tus habilidades en Desarrollo de Software con proyectos reales.
            </p>
            <p class="pt-2 text-sm italic opacity-65">
                Estamos en construcción, pero puedes registrarte y ser parte de la comunidad.
            </p>
        </div>
    </div>
</SectionContainer>
<SectionContainer class="py-20">

</SectionContainer>
<SectionContainer class="text-center py-20">
    <h3 class="text-xl font-semibold leading-tight">
        Inicia sesion ahora para acceder a todos los recursos de la plataforma!
    </h3>
    <div class="pt-5 pb-3">
        <Login />
    </div>
    <p class="pt-2 text-sm italic opacity-65">
        Tambien puedes realizar una donacion para apoyar el desarrollo de la plataforma.
    </p>
</SectionContainer>