---
import SectionContainer from "@/components/sectionContainer.astro";
import ProgrammingIcon2 from "@/components/icons/programmingIcon2.astro";
import Login from "@/components/login.astro";
import ProjectsGallery from "@/components/projectsGallery.astro";
import getProjects from "@/utils/getProjects";
import MyArticle from "@/components/myArticle.astro";
import ToSectionArrow from "@/components/toSectionArrow.astro";

const Projects = await getProjects() ?? [];
---

<MyArticle>
    <SectionContainer>
        <div class="flex items-center justify-center relative">
            <div class="scale-75 text-main opacity-20 animate-my-pulse -z-50 lg:scale-110">
                <ProgrammingIcon2 />
            </div>
            <div class="text-center font-semibold z-20 absolute top-1/4">
                <h1 class="flex flex-col text-main text-[2.5rem] font-bold text-center">
                    <span class="text-xl md:text-2xl lg:text-4xl lg:pb-2 text-main/65">
                        Bienvenido
                    </span>
                    <span class="text-4xl md:text-6xl lg:text-8xl">
                        {'<CodeProject/>'}
                    </span>
                </h1>
                <p class="text-xl md:text-2xl lg:text-3xl pt-2 lg:pt-4">
                    La plataforma donde podras mejorar tus habilidades en Desarrollo de Software con proyectos reales.
                </p>
                <p class="pt-2 text-sm md:text-base lg:text-lg italic opacity-65">
                    Estamos en construcción, pero puedes registrarte y ser parte de la comunidad.
                </p>
                <ToSectionArrow href="#start" />
            </div>
        </div>
    </SectionContainer>
</MyArticle>
<section>
    <ProjectsGallery
    id="landing"
    title="Mira algunos de los proyectos disponibles!"
    cards={[...Projects]}
    />
</section>
<SectionContainer class="text-center py-20" id="start">
    <h3 class="text-xl md:text-2xl font-semibold leading-tight">
        Inicia sesion ahora para acceder a todos los recursos de la plataforma!
    </h3>
    <div class="pt-5 pb-3 md:scale-110">
        <Login />
    </div>
    <p class="pt-2 text-sm md:text-base italic opacity-65">
        Tambien puedes realizar una donacion para apoyar el desarrollo de la plataforma.
    </p>
</SectionContainer>

<style>
    @keyframes my-pulse {
        30% {
            opacity: .3;
        }
    }
    .animate-my-pulse {
        animation: my-pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
</style>