---
interface Props {
    fullHeight?: boolean;
}
const { fullHeight = false } = Astro.props;
---

<section class:list={["flex justify-center items-center", fullHeight && "h-[calc(90vh-4rem)]"]}>
    <button class="py-2 px-4 bg-[#1E1E1E] text-white font-bold rounded-full" id="github-signin">
        Iniciar sesión con GitHub
    </button>
</section>

<script>
    async function initSignIn() {
        const { signIn } = await import("auth-astro/client");
        const loginButton = document.querySelector("#github-signin");

        loginButton?.removeEventListener("click", initSignIn);
        async function initSignIn() {
            await signIn("github");
        }
        loginButton?.addEventListener("click", initSignIn);
    }

    document.addEventListener('DOMContentLoaded', initSignIn);
    document.addEventListener('astro:after-swap', initSignIn);
</script>