---
interface Props {
    fullHeight?: boolean;
    classButton?: string;
}
const { fullHeight = false, classButton } = Astro.props;
---

<section class:list={["flex justify-center items-center", fullHeight && "h-[calc(90vh-4rem)]"]}>
    <form
    action="/api/auth/signin"
    method="post"
    >
        <button
        value="github"
        type="submit"
        class:list={["py-2 px-4 bg-[#1E1E1E] hover:bg-buttonHov text-white font-bold rounded-full transition duration-300 ease-in-out", classButton]}
        >
            Iniciar sesión con GitHub
        </button>
    </form>
</section>
