---
interface Props {
    color?: string
    weight?: string
}
const { color = 'main', weight = 'semibold' }: Props = {}
---
<span class:list={[`text-${color}`, `font-${weight}`]}>
    <slot />
</span>