---
import SearchIcon from "@/components/icons/searchIcon.astro";
import SectionContainer from "@/components/sectionContainer.astro";

---

<SectionContainer>
    <var>
        <form
        class="grid grid-cols-[1fr_50px] justify-between items-center gap-x-2 h-12 bg-[#1E1E1E] rounded-lg"
        action="/search"
        method="get"
        >
            <input
            class="px-5 min-w-40 bg-transparent outline-none text-white font-medium"
            type="text"
            name="search"
            id="search"
            placeholder="Buscar..."
            >
            <button
            class="flex justify-center items-center text-yellow-200 opacity-75 hover:opacity-100 bg-slate-500 bg-opacity-0 hover:bg-opacity-10 h-full rounded-r-lg transition duration-500"
            type="submit"
            >
                <SearchIcon />
            </button>
        </form>
    </var>
</SectionContainer>