---
interface Props {
  class?: string;
  id?: string;
}
const { class: className = "", id } = Astro.props;
---

<section class:list={["px-5 md:px-20 lg:px-40", className]} id={id}>
  <slot />
</section>
