---
interface Props {
    href: string;
    target?: string;
}
const { href: link, target } = Astro.props;
---
<span class="underline font-semibold text-blue-200">
    <a target={target} href={link}>
        <slot />
    </a>
</span>