---
import ExternalLink from "@/components/icons/externalLink.astro";
---

<a
target="_blank"
title="Ve a nuestra encuesta en Google Forms!"
href="https://docs.google.com/forms/d/e/1FAIpQLSfLNsnRBORSMYo8RlfZ-a3pCbPPVh18tweCpAztID9Au5ieFw/viewform?usp=dialog"
>
    <h3 class="flex justify-center items-center gap-x-2 text-2xl font-bold text-purple-200 hover:text-purple-300 transition duration-300 ease-in-out">
        Dejanos tus comentarios! <ExternalLink width="30" stroke-width="3" />
    </h3>
</a>
